<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>SSM : Roots And Wings</title>
</head>

<body onload="samMain()">
	<h4 id="spaceId">Press SpaceBar to start</h4>
	<canvas id="SamCanvas" width="800" height="600">
		Your Browser Does not support HTML5 Canvas Element
	</canvas>
	<audio src="final_music_piece_vanraj_bhatiya.wav" type="audio/mpeg"></audio>
	<script src="gl-matrix-min.js"></script>
	<script src="root.js"></script>
	<script src="tree.js"></script>
	<script src="Text.js"></script>
	<script src="WordBombard.js"></script>
	<script src="Mesh.js"></script>
	<script src="Sphere.js"></script>
	<script src="Scene1.js"></script>
	<script src="Scene2.js"></script>
	<script src="Scene5_AMC.js"></script>
	<script src="parabolla.js"></script>
	<script src="wings.js"></script>
	<script src="Ball.js"></script>
	<script src="TitleText.js"></script>
	<script src="Title.js"></script>
	<script src="logo_quad.js"></script>
	<script src="font.js"></script>
	<script src="MainCanvasHandler.js"></script>
</body>

</html>